h1, h2 {
    text-align: center;
}
label  {
    display: block;
}

input {
    width: 100%;
}
.container {
    max-width:  400px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}